In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import GridSearchCV


# Assuming X_train, y_train, X_test, y_test are already defined

param_grid = {
    'var_smoothing': [1e-9, 1e-8, 1e-7, 1e-6]  
}
grid_search = GridSearchCV(estimator=GaussianNB(), param_grid=param_grid, cv=5)

# Fit the model
grid_search.fit(X_train, y_train)

# Best parameters
print("Best Parameters:", grid_search.best_params_)
# Predictions
y_pred = grid_search.predict(X_test)


results = grid_search.cv_results_
#print(results)

Best Parameters: {'var_smoothing': 1e-09}

In [11]:
# Evaluate the model
from sklearn.metrics import accuracy_score
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9104477611940298

In [13]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print("confusion_matrix:\n",cm)

confusion_matrix:
 [[81  4]
 [ 8 41]]

In [14]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [15]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.91      0.95      0.93        85
           1       0.91      0.84      0.87        49

    accuracy                           0.91       134
   macro avg       0.91      0.89      0.90       134
weighted avg       0.91      0.91      0.91       134

In [16]:
from sklearn.metrics import f1_score
f1_macro = f1_score(y_test, y_pred, average='macro')
print("F1 Macro Score for Best Parameters:", f1_macro)

F1 Macro Score for Best Parameters: 0.9016874541452677

In [18]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid_search.predict_proba(X_test)[:,1])

0.9608643457382953

In [20]:
table=pd.DataFrame.from_dict(results)

In [21]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_var_smoothing,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002927,0.005854,0.000000,0.000000,0.0,{'var_smoothing': 1e-09},0.833333,0.867925,0.792453,0.962264,0.981132,0.887421,0.073086,1
1,0.003242,0.006483,0.001872,0.003744,0.0,{'var_smoothing': 1e-08},0.833333,0.867925,0.792453,0.962264,0.981132,0.887421,0.073086,1
2,0.003033,0.003731,0.001602,0.003205,0.0,{'var_smoothing': 1e-07},0.833333,0.867925,0.792453,0.962264,0.981132,0.887421,0.073086,1
3,0.000000,0.000000,0.003125,0.006249,0.000001,{'var_smoothing': 1e-06},0.833333,0.867925,0.792453,0.962264,0.981132,0.887421,0.073086,1

In [22]:
age_input=float(input("Age:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [24]:
Future_Prediction=grid_search.predict([[age_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]