In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:

dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [5]:
inde=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
inde

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [6]:
dep=dataset[['classification_yes']]
dep

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [7]:
dataset['classification_yes'].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
inde= sc.fit_transform(inde)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

# Correct parameter grid for Decision Tree Classifier
param_grid = {
    'criterion': ['gini', 'entropy'],  # Options for classification
    'max_depth': [None, 5, 10, 15, 20],  # Optional max depth
    'min_samples_split': [2, 5, 10],      # Minimum samples to split a node
    'min_samples_leaf': [1, 2, 4],        # Minimum samples at a leaf node
    'splitter': ['best', 'random'],        # Strategy for splitting nodes
}

# Create the GridSearchCV object
grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit=True, verbose=3, n_jobs=-1,cv=5)

# Fit the model
grid.fit(inde, dep)

# Best parameters
print("Best Parameters:", grid.best_params_)

Fitting 5 folds for each of 180 candidates, totalling 900 fits
Best Parameters: {'criterion': 'gini', 'max_depth': 20, 'min_samples_leaf': 2, 'min_samples_split': 10, 'splitter': 'random'}

In [10]:
re=grid.cv_results_
print("best_parameters:",format(grid.best_params_))
grid_predictions=grid.predict(inde)

best_parameters: {'criterion': 'gini', 'max_depth': 20, 'min_samples_leaf': 2, 'min_samples_split': 10, 'splitter': 'random'}

In [11]:
from sklearn.metrics import roc_auc_score

roc_auc_score(dep,grid.predict_proba(inde)[:,1])

0.9990896921017403

In [12]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(dep,grid_predictions)

In [13]:
print("confusion matrix:\n",cm)

confusion matrix:
 [[148   2]
 [  4 245]]

In [14]:
from sklearn.metrics import classification_report
clf_report=classification_report(dep,grid_predictions)

In [15]:
print("claf report:\n",clf_report)

claf report:
               precision    recall  f1-score   support

           0       0.97      0.99      0.98       150
           1       0.99      0.98      0.99       249

    accuracy                           0.98       399
   macro avg       0.98      0.99      0.98       399
weighted avg       0.99      0.98      0.98       399

In [16]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_min_samples_leaf,param_min_samples_split,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009375,0.007655,0.006248,0.007653,gini,None,1,2,best,"{'criterion': 'gini', 'max_depth': None, 'min_...",0.5125,0.9625,0.9750,0.9750,0.962025,0.877405,0.182541,139
1,0.009373,0.007653,0.000000,0.000000,gini,None,1,2,random,"{'criterion': 'gini', 'max_depth': None, 'min_...",0.4875,0.9875,0.9625,1.0000,1.000000,0.887500,0.200468,119
2,0.006249,0.007653,0.006250,0.007654,gini,None,1,5,best,"{'criterion': 'gini', 'max_depth': None, 'min_...",0.5250,0.9500,0.9750,0.9875,0.949367,0.877373,0.176796,145
3,0.003125,0.006250,0.003125,0.006250,gini,None,1,5,random,"{'criterion': 'gini', 'max_depth': None, 'min_...",0.7250,0.9625,0.9375,1.0000,0.987342,0.922468,0.101037,109
4,0.006248,0.007653,0.000000,0.000000,gini,None,1,10,best,"{'criterion': 'gini', 'max_depth': None, 'min_...",0.5125,0.9750,0.9750,0.9625,0.962025,0.877405,0.182541,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,0.009659,0.007886,0.006439,0.007886,entropy,20,4,2,random,"{'criterion': 'entropy', 'max_depth': 20, 'min...",0.7875,0.9875,0.9625,1.0000,0.962025,0.939905,0.077594,85
176,0.000000,0.000000,0.000000,0.000000,entropy,20,4,5,best,"{'criterion': 'entropy', 'max_depth': 20, 'min...",0.7625,0.9375,0.9375,0.9875,1.000000,0.925000,0.085147,94
177,0.000000,0.000000,0.000000,0.000000,entropy,20,4,5,random,"{'criterion': 'entropy', 'max_depth': 20, 'min...",0.8375,0.9875,0.9750,0.9750,0.987342,0.952468,0.057752,56
178,0.003205,0.006410,0.006410,0.007850,entropy,20,4,10,best,"{'criterion': 'entropy', 'max_depth': 20, 'min...",0.7625,0.9375,0.9375,0.9875,1.000000,0.925000,0.085147,94
179,0.006410,0.007850,0.003205,0.006410,entropy,20,4,10,random,"{'criterion': 'entropy', 'max_depth': 20, 'min...",0.7875,0.9625,0.9875,0.9375,0.987342,0.932468,0.074810,91